<%- include('_includes/header'); -%>

<header class="intro mar-tb-7">
    <h1 class="intro__head"><%- siteConfig.title %>
        <div class="intro__sub"><%- siteConfig.subtitle %></div>
    </h1>
</header>

<%
let counter = 0;
        for (let [year, posts] of groupedPosts.entries() || []) {
%>
    <section id="y <%- year %>" class="mar-b-7">
        <h3 class="section__title"><%- year %></h3>
        <div class="post-list">
            <% for (let post of posts) { %>
                <a class="post" href="post.ejs">
                    <span class="post__title"><%- post.title %></span>
                    <time class="post__date" datetime=" 2018-12-04"><%- post.date %></time>
                </a>
            <% } %>
        </div>
    </section>
    <% if (counter === 1) { %>
        <%- include('_includes/revue', { siteConfig }) %>
    <% } %>
<%
    counter++;
}
%>

<!-- If counter never reached 1 -->
<% if (counter === 0) { %>
    <%- include('_includes/revue', { siteConfig }) %>
<% } %>

<%- include('_includes/footer', { siteConfig }) %>
